@model Ed_Fi.Credential.MVC.Models.ChangeSecretModel
@{
    ViewBag.Title = "Details";
}
@Scripts.Render("~/bundles/jqueryval")
  
<div id="errorMessages"></div>
@using (Html.BeginForm("ChangeSecret"))
{
    @Html.HiddenFor(model => model.ApiClientId)
    <table class="table table-bordered">
        <tr>
            <td>
                @Html.LabelFor(model => model.Key)
            </td>
            <td>
                @(Html.TextBoxFor(m => m.Key,new{disabled= "disabled" }))
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Secret)
            </td>
            <td>
                @(Html.TextBoxFor(m => m.Secret))
                @Html.ValidationMessageFor(m=>m.Secret) 
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button class="btn btn-primary" type="submit">Save</button> <button class="btn btn-default" type="button" onclick="closeChangeSecretPopup();">Cancel</button>
            </td>
        </tr>
    </table>
}

<style>
    .k-edit-form-container {
        width: 100%;
    }

    .field-validation-error {

        color: red;

        display: block;
        
    }
</style>
