@using Ed_Fi.Credential.MVC.Areas.Agency.Models
@model VendorSubscriptionModel
@{
    ViewBag.Title = "Manage Vendors";
}

<div id="modalErrors"></div>
<div class="modal" tabindex="-1" role="dialog" id="formModal">
    <div class="modal-dialog" role="document" id="formContent">
    </div>
</div>


<div class="card bg-light">
    <div class="card-header">Your Vendors:</div>
    <div class="card-body">
        <div class="list-group list-group-root well">
            <a href="#item-all" class="list-group-item list-group-item-primary" data-toggle="collapse">
                <strong><i class="glyphicon glyphicon-chevron-down"></i>All Schools</strong>
            </a>
            <div class="list-group collapse show" id="item-all">
                <div class="table-responsive">
                    <table class="display table table-condensed table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Resource Access</th>
                                <th>Vendor Name</th>
                                <th>Credentials</th>
                                <th> <button type="button" class="btn btn-primary btn-sm" onclick="loadModal('@Url.Action("NewSubscription","VendorSubscription", new{Area="Agency", isSchoolLevel=false})')" data-toggle="modal" data-target="#formModal">Add</button></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var client in Model.AgencyApiClients.OrderBy(c => c.ApplicationClaimsetDetailClaimsetTypeId))
                            {
                                <tr>
                                    <td>@client.ApplicationClaimsetDetailClaimsetTypeName</td>
                                    <td>@client.ApplicationClaimsetDetailPlainEnglish</td>
                                    <td>@client.ApplicationVendorVendorName</td>
                                    <td><b>Key</b><br /><span style="white-space: nowrap;">@client.Key</span><br /><div data-toggle="tooltip" data-placement="top" title="@client.Tooltip"><b>Secret</b><br /><span id="Secret_@client.ApiClientId" style="white-space: nowrap;">@client.SecretDisplay</span></div></td>
                                    <td>
                                        <form id="clientForm_@client.ApiClientId">
                                            <input type="hidden" value="@client.ApiClientId" />
                                            <div style="display: none">
                                                <ul id="orgList_@client.ApiClientId">
                                                    @foreach (var e in client.Organizations)
                                                    {
                                                        <li>
                                                            @e.EducationOrganizationId.ToString("D6") - @e.NameOfInstitution
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                            <button type="button" class="formReset btn btn-primary btn-sm" data-src="@client.ApiClientId">Reset</button><br />
                                            <button type="button" class="formModify  btn btn-primary btn-sm my-1" data-src="@client.ApiClientId">Modify</button><br />
                                            <button type="button" class="formUnsubscribe  btn btn-secondary btn-sm" data-src="@client.ApiClientId">Unsubscribe</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="list-group list-group-root well">
            <a href="#item-sch" class="list-group-item list-group-item-primary" data-toggle="collapse">
                <strong><i class="glyphicon glyphicon-chevron-down"></i>Selected Schools Only</strong>
            </a>
            <div class="list-group collapse show" id="item-sch">
                <div class="table-responsive">
                    <table class="display table table-condensed table-bordered" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Resource Access</th>
                                <th>Vendor Name</th>
                                <th>Credentials</th>
                                <th>Schools</th>
                                <th> <button type="button" class="btn btn-primary btn-sm" onclick="loadModal('@Url.Action("NewSubscription", "VendorSubscription", new {Area = "Agency", isSchoolLevel = true})')" data-toggle="modal" data-target="#formModal">Add</button></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var client in Model.SchoolApiClients.OrderBy(c => c.ApplicationClaimsetDetailClaimsetTypeId))
                            {
                                <tr>
                                    <td>@client.ApplicationClaimsetDetailClaimsetTypeName</td>
                                    <td>@client.ApplicationClaimsetDetailPlainEnglish</td>
                                    <td>@client.ApplicationVendorVendorName</td>
                                    <td>
                                        <b>Key</b><br /><span style="white-space: nowrap;">@client.Key</span><br />
                                        <div data-toggle="tooltip" data-placement="top" title="@client.Tooltip"><b>Secret</b><br /><span style="white-space: nowrap;">@client.SecretDisplay</span></div>
                                    </td>
                                    <td>
                                        <ul>
                                            @foreach (var e in client.Organizations)
                                            {
                                                <li>
                                                    @e.EducationOrganizationId.ToString("D6") - @e.NameOfInstitution
                                                </li>
                                            }
                                        </ul>
                                    </td>
                                    <td>
                                        <form id="clientForm_@client.ApiClientId">
                                            <input type="hidden" value="@client.ApiClientId" />
                                            <div style="display: none">
                                                <ul id="orgList_@client.ApiClientId">
                                                    @foreach (var e in client.Organizations)
                                                    {
                                                        <li>
                                                            @e.EducationOrganizationId.ToString("D6") - @e.NameOfInstitution
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                            <button type="button" class="formReset btn btn-primary btn-sm" data-src="@client.ApiClientId">Reset</button><br />
                                            <button type="button" class="formModify  btn btn-primary btn-sm  my-1" data-src="@client.ApiClientId">Modify</button><br />
                                            <button type="button" class="formUnsubscribe  btn btn-secondary btn-sm" data-src="@client.ApiClientId">Unsubscribe</button>
                                        </form>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div class="row">
    <div class="col">
        <div class="card bg-light">
            <div class="card-header ">Ed-Fi URLs - Version 2.x (2015-16 to 2018-19):</div>
            <div class="card-body">
                <table class="display table table-condensed table-bordered">
                    <tr><th>Name</th><th>URL</th></tr>
                    @foreach (var u in Model.Urls)
                    {
                        <tr><td>@u.Name</td><td>@u.Url</td></tr>
                    }
                </table>

            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col">
        <div class="card bg-light">
            <div class="card-header ">Ed-Fi URLs - Version 3.x (2019-20 forward):</div>
            <div class="card-body">
                <table class="display table table-condensed table-bordered">
                    <tr><th>Name</th><th>URL</th></tr>
                    @foreach (var u in Model.V3Urls)
                    {
                        <tr><td>@u.Name</td><td>@u.Url</td></tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".formReset").on("click",
            function(e) {
                e.preventDefault();
                 var clientId = $(this).data('src');
                var url = "@Url.Action("ResetSecret")" + "/" + clientId;
                loadModal(url);
            });

        $(".formModify").on("click",
            function(e) {
                e.preventDefault();
                var clientId = $(this).data('src');
                var url = "@Url.Action("EditSubscription")" + "/" + clientId;
                loadModal(url);
            });

        $(".formUnsubscribe").on("click",
            function(e) {
                e.preventDefault();
                var clientId = $(this).data('src');
                var url = "@Url.Action("DeleteSubscription")";

                var content = '<div><div style="font-weight: bold;">Do you really want to remove this vendor?</div>' +
                    '<div style="font-weight: bold;">This will remove the vendor authroization for the following agencies: </div>'
                    + '<div>' + $("#orgList_" + clientId).html() + '</div></div>';
                $.confirm({
                    title: 'Please Confirm!',
                    content: content,
                    buttons: {
                        confirm: function () {
                            $.ajax({
                                type: "POST",
                                url: url,
                                data: {id:clientId},
                                success: function (data) {
                                    if (data.success) {
                                        location.reload();
                                    }
                                    else { displayErrors(data.Errors); }
                                }

                            });
                        },
                        cancel: function () {

                        }
                    }
                });
            });
    });

    function loadModal(url) {
            $.ajax({
            url: url,
            type: 'GET',
            success: function(data) {
                $('#formContent').html(data);

                var window = $("#formModal").modal({
                    keyboard: false
                });
                window.modal('show');
            }
        });
    }


    function secretFormSubmit(apiclientId) {
        if ($("#Secret").val().length >= 16) {

            $.ajax({
                type: "POST",
                url: "@Url.Action("ResetSecret")",
                data: $("#resetSecretForm").serialize(),
                success: function (data) {
                    if (data.success) {
                        $('#Secret_'+apiclientId).html($("#Secret").val());
                        displayErrors("");
                    }
                    else { displayErrors(data.Errors); }
                }

            });
            return false;  }
    }

    function editSubscriptionFormSubmit() {
             $.ajax({
                type: "POST",
                url:$("#editSubscriptionForm").attr("action"),
                data: $("#editSubscriptionForm").serialize(),
                success: function (data) {
                    if (data.success) {
                        ////$('#Secret_'+apiclientId).html($("#Secret").val());
                        //displayErrors("");
                        location.reload();
                    }
                    else { displayErrors(data.Errors); }
                }

            });
            return false;
    }

    function displayErrors(errors) {
        $('#modalErrors').html(errors);
    }

   
</script>


@if (!Model.HasAgreed)
{

    <div class="hide" id="agreement">
        <div class="modal-content">
            <div class="modal-body">
                @Html.Raw(Model.AgreementMessage)
            </div>
            <div class="modal-footer">
                <div style="text-align: center;">
                    <button type="button" id="accept" class="btn btn-primary">Accept</button>
                    <button type="button" id="reject" class="btn btn-danger">Reject</button>
                </div>
            </div>
        </div>
    </div>
    <div class="hide" id="noAgreement">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    You are being redirected because you did not accept the agreement.
                </p>
            </div>
            <div class="modal-footer">
                <div style="text-align: center;">
                    <a type="button" id="ok" class="btn btn-primary" href="@Url.Action("Index", "Home", new { Area = "" })">OK</a>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('#formContent').html($("#agreement").html());

            var window = $("#formModal").modal({
                keyboard: false
            });
            window.modal('show');

            $("#accept").click(function () {
                setAgreement(true);
                window.modal('hide');
                return false;

            });
            $("#reject").click(function () {
                setAgreement(false);
                window.find('#formContent').html($("#noAgreement").html());
                return false;
            });
        });

        function setAgreement(agree) {
            $.ajax({
                url: '@Url.Action("Agreement", "VendorSubscription")',
                type: 'POST',
                data: ({ agree: agree })
            });
        }
    </script>
}
